[submodule "atmos"]
	path = atmos
	url = /home/glenn/esglobe-apps/atmos
[submodule "esrl"]
	path = esrl
	url = /home/glenn/esglobe-apps/esrl
[submodule "ocean"]
	path = ocean
	url = /home/glenn/esglobe-apps/ocean
[submodule "307"]
	path = 307
	url = /home/glenn/esglobe-apps/307
[submodule "makemap"]
	path = makemap
	url = /home/glenn/esglobe-apps/makemap
